APP_NAME=Santor
NODE_ENV=development

HOST=0.0.0.0
PORT=3000

DATABASE_URL="postgresql://username:password@localhost:5432/database?schema=public"

REDIS_URL="redis://localhost:6379"

JWT_SECRET="your-secret"
SANTOR_INTERNAL_WEBHOOK_SECRET="your-32-character-or-longer-secret"

JWT_EXPIRES=7d

CORS_ORIGINS="http://localhost:5173"

LOG_LEVEL=info

# =========================
# PAYMENT PROVIDERS
# =========================

# Global Card
GLOBAL_CARD_ENABLED=false
GLOBAL_CARD_API_KEY=
GLOBAL_CARD_API_SECRET=
GLOBAL_CARD_BASE_URL=

# Xendit
XENDIT_ENABLED=false
XENDIT_API_KEY=
XENDIT_API_SECRET=
XENDIT_BASE_URL=https://api.xendit.co
XENDIT_WEBHOOK_TOKEN=

# Russia
RUSSIA_PAYMENT_ENABLED=false
RUSSIA_PAYMENT_API_KEY=
RUSSIA_PAYMENT_API_SECRET=
RUSSIA_PAYMENT_BASE_URL=

PLATEGA_MERCHANT_ID=
PLATEGA_SECRET=
PLATEGA_BASE_URL=https://app.platega.io
